{% extends 'bootstrap-index.html' %}

{% block container %}
    <!-- Default page header -->
    <div class="page-header" style="padding-bottom: 0; margin: 0 0;">
        <h3><small style="font-size: 16px; font-style: normal; margin-left: 20px;">站点管理</small></h3>
    </div>

    {% for panel,p_val in dic_value.items %}
    <div class="panel panel-success" style="margin: 5px 20px; width: 40%;">
        <!-- Default panel contents -->
        <div class="panel-heading" style="padding: 2px 5px">
            <h3 class="panel-title">{{ panel }}</h3>
        </div>

        <!-- Table -->
        <table class="table table-hover">
            {% for item,t_val in  p_val.items %}
            <tr>
              <td style="width: 70%">{{ item }}</td>
              <td style="width: 30%; text-align: right">
                  <a class="btn btn-default btn-xs " href="#" role="button">增加</a>
                  <a class="btn btn-default btn-xs" href="#" role="button">修改</a>
              </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
{% endblock %}